.content {
    max-width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.content a {
    text-decoration: none;
}

.item {
    background-color: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
    text-align: center;
    height: 80%;
}

.item:hover {
    transition: .2s all;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

.item img {
    padding: 40px;
    transition: transform .5s;
}

.item img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.item_title {
    color: #1FB1AA;
    font-size: 17px;
}

.item_price {
    color: #1FB1AA;
    font-size: 15px;
}

.container {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
}