.cart-container {
  width: 95%;
  margin: 2%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
}

tbody {
  padding-left: 100px;
}

table tbody tr {
  border-top: 2px solid lightgray;
}

table tbody td {

}