.cell img {
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tbody tr {
  border-top: 2px solid lightgray;
  width: 80%;
}

.titles {
  border: none;
}

.capitalize {
  text-transform: capitalize;
}

.cell {
  text-align: center;
  width: 20%;
  /* height: 15em; */
  margin-bottom: 5%;
}

.cart_summary {
  width: 25%;
  padding: 25px;
  margin-right: 3%;
  float: right;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.trashcan svg:hover{
  cursor: pointer;
  opacity: 0.5;
}

.trashcan svg:active{
  transform: scale(0.9);
}

.table {
  border: 1px solid blue;
}