.item_container {
  margin: 0 auto;
  height: auto;
  width: 60%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.item_container img {
  padding: 50px;
  padding-bottom: 100px;
  float: left;
}

.item_container .item_title {
  font-size: 3vh !important;
  padding-top: 50px;
}

.item_container .item_price {
  font-size: 3vh !important;
}

.item_container button img {
  padding: 15px;
  height: 1.5em;
  width: 1.5em;
}

.item_container button {
  border: 1px solid #1FB1AA;
  border-radius: 5px;
  background: #1FB1AA;
  transition: 0.2s;
  outline: none;
  margin-bottom: 5vh;
}

.item_container button:hover {
  background: #FFF;
  cursor: pointer;
}

.item_container button:active {
  transform: scale(0.98);
}

.item_container button p {
  float: left;
  margin: 0;
  padding: 18px;
  padding-left: 0;
}

.item_description {
  margin-right: 25px;
}