/* https://codepen.io/raubaca/pen/VejpQP */

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    border: 0;
    outline: 0;
    background: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    margin-top: 1vh;
    margin-left: 2.4vh;
    position: relative;
    display: flex;
    width: 10em;
    height: 2em;
    line-height: 3;
    background: #FFF;
    overflow: hidden;
    border: 1px solid;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #000;
    cursor: pointer;
}
  /* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -0.5em;
    padding-right: 0.8em;
    background: #FFF;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
  /* Transition */
.select:hover::after {
    color: #1FB1AA;
}

.items_settings {
    display: flex;
    align-items: center;
}

.item_counter {
    margin-top: 1vh;
    margin-left: 20px;
}