body {
    margin: 0;
}

.header {
    background-color: #1FB1AA;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.header-logo {
    width: 50px;
}

.header-buttons {
    width: 200px;
    display: flex;
    justify-content: space-between;
}